<header class="site-header" role="banner">
    <div class="site-top">
        <div class="site-branding">
            <div class="site-title"><a href="/" ><img src="{{ site.data.site.head.logo }}"></a></div>
            <!-- logo end -->
        </div><!-- .site-branding -->
        <div class="searchbox"><i class="iconfont js-toggle-search iconsearch">&#xe65c;</i></div>
        <div class="lower">
            <div id="show-nav" class="showNav">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
            </div>
            <nav>{{ site.data.menu }}</nav><!-- #site-navigation -->
        </div>	
    </div>
</header><!-- #masthead -->