---
layout: compress
---
<!DOCTYPE html>
<html lang="{{site.data.site.lang}}">
    {% include head.html %}
    <body>
        {% include header.html %}
        <section id="main-container">
            <div id="page" class="site wrapper">
                <div id="content" class="site-content">
                    {{ content }}
                </div>
            </div>
        </section>
        {% include footer/footer.html %}
        {% include footer/footer-loading.html %}
        {% include footer/footerjs.html %}
        <div class="site-statistics">
            {% if site.data.site.piwik_analytics != "" %}
                {% include analytics/piwik.html %}
            {% endif %}
        </div>
    </body>
</html>